{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4>Customer Login</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }} 
                    </div>
                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">Bank Staff?</small><br>
                <a href="/admin/" class="btn btn-sm btn-outline-dark mt-2">Access Admin Panel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}